<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curious Gia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
<div class="container-fluid">

    <h1>Curious Gia</h1>
    <h4>Check me out @curious_gia on Instagram</h4>
    <h4>Click the sections below to check out my photos! </h4>

    <!-- <img src="https://s3.amazonaws.com/neil-life/gia-catchall/a-EyeBanner.jpg" class="img-fluid" alt="Responsive image"> -->

    <div class="row">

        <div class="col-sm-4 thumbnail text-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="item active">
                    <a href="/curious_gia">
                    <img src="https://s3.amazonaws.com/neil-life/Portrait-Mode.jpg" alt="" class="img-responsive rounded">
                    <div class="carousel-caption">
                        <h3>@Curious_Gia Instagram</h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 thumbnail text-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="item active">
                    <a href="/testpage">
                    <img src="https://s3.amazonaws.com/neil-life/Series/Faces_Layout.JPG" alt="" class="img-responsive rounded">
                    <div class="carousel-caption">
                        <h3>Photo Series</h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 thumbnail text-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="item active">
                    <a href="/katara">
                    <img src="https://s3.amazonaws.com/neil-life/Katara/Katara-IMG_2627.jpg" alt="" class="img-responsive rounded">
                    <div class="carousel-caption">
                        <h3>Katara</h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>


        </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>


